<div class="container">
  <h1>PLantilla por defecto</h1>
  <div>
    <a href="/factura" class="btn btn-primary">Ver factura</a>
    <a href="/descargar" class="btn btn-primary">Descargar factura</a>

  </div>
</div>