<div class="container-fluid">
  <div class="row">
    <div class="col-4 border">Logo Davivienda</div>
    <div class="col-4 text-center border">
      <b>SOPORTE OPERACIÓN DE CRÉDITO</b>
      <br />Solicitu No. 12345678
      <br />SOLIC. VOR No. 1234567
      <br />GONZALO GÓMEZ ORTÍZ / OPS$GXGX
      <br />SERGIO ANDRES HERNANDEZ CONTRERAS
    </div>
    <div class="col-4 border">Fecha
      <br />
      hora
      <br />
      reporte
      <br />
      005 Unidad de Vehículos Productivos</div>
  </div>
</div>