<h1>Factura</h1>
<table class="table">
  <tr>
    <td>Hola</td>
    <td>Mundo</td>
  </tr>
  <tr>
    <td>Hola</td>
    <td>Mundo</td>
  </tr>
  <tr>
    <td>Hola</td>
    <td>Mundo</td>
  </tr>
  <tr>
    <td>Hola</td>
    <td>Mundo</td>
  </tr>
</table>